@import "../../styles/variables";

.ctaBtn {
  padding: 0.8rem 1.4rem;
  background: rgba(255, 255, 255, 0);
  color: $accent;
  border-radius: 5px;
  font-size: 1.08rem;
  font-family: "ATOsmose", Arial, sans-serif;
  border: solid 2.5px $accent;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
