@import "../../styles/variables";

.ctaBtn {
  padding: 0.8rem 1.4rem;
  background: rgba(255, 255, 255, 0);
  color: $accent;
  border-radius: 5px;
  font-size: 1.08rem;
  font-family: initial;
  border: solid 2.5px $accent;
  //   //   border-width: 0;
  cursor: pointer;
  //   border-style: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
