@import "./variables";

.mobile-nav {
  padding: 1.2rem 1.4rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  .logo {
    img {
      width: 2.2rem;
    }
  }
  .hamb-menu {
    img {
      width: 1.8rem;
    }
  }
}

nav.mobile {
  display: flex;
  flex-direction: column;
}

.inner-menu {
  position: fixed;
  height: 40vh;
  background-color: $dark-purple;
  opacity: 0.95;
  width: 100%;
  align-self: flex-end;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;

  &__links {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    .container {
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      min-height: 230px;
      height: 60%;
    }
  }
}
