@import "./variables";

.skills-inner {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  &__education {
    width: 65%;
  }
}

.education {
  max-width: 600px;
  margin-top: 2rem;
  overflow: hidden;
  &:last-of-type {
    max-width: 100%;
  }
  &__title {
    font-size: 1.6rem;
    width: 100%;
    h3 {
      color: $light-accent;
      //   padding-left: 20px;
    }
  }
  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
  }
  &__date {
    color: $accent;
  }
  &__paragraph {
    font-size: 1.2rem;
    span {
      font-size: 1rem;
      font-weight: 300;
      font-style: italic;
    }
  }
}

.skills__logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  position: relative;
  top: 2rem;
  img {
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  #skills {
    padding-top: 7.3rem;
    padding-bottom: 1rem;
  }
  .skills-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    &__education {
      grid-row: 2/3;
      width: 100%;
      padding: 1.6rem;
    }
  }
  .skills__logos {
    margin-top: -2.5rem;
    width: 100%;
    min-height: 600px;
    max-height: 600px;
  }

  .education {
    margin-top: 2.5rem;
    &__title-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
    }
    &__date {
      align-self: flex-start;
      font-weight: 300;
    }
  }
}
