@import "./variables";

.header-title {
  color: $accent;
  font-size: 4rem;
  margin-left: 10%;
  overflow: hidden !important;
  position: relative;
  span {
    display: inline-block;
    height: fit-content;
  }
}

#project {
  .header-title {
    margin-left: 0;
    color: white;
    font-size: 3.5rem;
  }
}

@media (max-width: 700px) {
  .header-title {
    font-size: 2.5rem;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #project {
    .header-title {
      font-size: 3rem;
    }
  }

  #project .project {
    &__content {
      display: flex;
      flex-direction: column;
    }

    &__tilt .tilt_img {
      height: 205px;
    }

    &__implementations {
      padding: 0;
    }

    &__concept {
      h3 {
        text-align: center;
        margin-top: 1rem;
      }
      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .header-title {
    font-size: 2.5rem;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #project {
    .header-title {
      font-size: 2.2rem;
    }
  }
}
