@import "./variables";

.header-title {
  color: $accent;
  font-size: 4rem;
  margin-left: 10%;
  overflow: hidden !important;
  position: relative;
  span {
    display: inline-block;
    height: fit-content;
  }
}

#project {
  .header-title {
    margin-left: 0;
    color: white;
    font-size: 3.5rem;
  }
}

@media (max-width: 700px) {
  .header-title {
    font-size: 2.5rem;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
