/* PALETTE */
$accent: #f3d759;
$light-accent: #f5f397;
$light-blue: #3a9efd;
$light-purple: #3e4491;
$purple: #292a73;
$dark-purple: #07192f;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Quicksand:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,700&display=swap");
/* 
font-family: 'Nova Mono', monospace;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
 */
