@import "./variables";

#works {
  margin-top: -2rem;
  background-color: $dark-purple;
  width: 100%;
  .works {
    display: flex;
    flex-direction: column;
    padding: 0 8rem;
  }
}

@media (max-width: 750px) {
  #works {
    .works {
      padding: 0 1.8rem;
    }
  }
}
